---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/live?access_key=<currencylayer_key>&currencies=CAD,EUR,GBP,PLN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 51aa7172-4ebb-4ac5-83b9-8600a332b220
      Last-Modified:
      - Thu, 07 Dec 2017 16:44:15 GMT
      Etag:
      - d6e180a0a5ff051d3ec29089c7ff9775
      X-Request-Time:
      - '0.025'
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timestamp":1512665055,"source":"USD","quotes":{"USDCAD":1.28339,"USDEUR":0.847501,"USDGBP":0.74476,"USDPLN":3.568903}}'
  recorded_at: Thu, 07 Dec 2017 17:03:32 GMT
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/taxrates/bypostalcode?country=US&postalCode=98105
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<avatax_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0056266'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"totalRate":0.101000,"rates":[{"rate":0.065000,"name":"WA STATE TAX","type":"State"},{"rate":0.000000,"name":"WA
        COUNTY TAX","type":"County"},{"rate":0.036000,"name":"WA CITY TAX","type":"City"}]}'
  recorded_at: Thu, 07 Dec 2017 17:03:33 GMT
recorded_with: VCR 4.0.0
