---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/taxrates/bypostalcode?country=US&postalCode=98105
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<avatax_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"totalRate":0.101000,"rates":[{"rate":0.065000,"name":"WA STATE TAX","type":"State"},{"rate":0.000000,"name":"WA
        COUNTY TAX","type":"County"},{"rate":0.036000,"name":"WA CITY TAX","type":"City"}]}'
  recorded_at: Thu, 07 Dec 2017 16:47:29 GMT
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/taxrates/bypostalcode?country=US&postalCode=98105
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<avatax_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"totalRate":0.101000,"rates":[{"rate":0.065000,"name":"WA STATE TAX","type":"State"},{"rate":0.000000,"name":"WA
        COUNTY TAX","type":"County"},{"rate":0.036000,"name":"WA CITY TAX","type":"City"}]}'
  recorded_at: Thu, 07 Dec 2017 16:47:29 GMT
recorded_with: VCR 4.0.0
