@import 'bootstrap-sprockets';
@import 'bootstrap';

html {
  background: url('/images/redbg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

.container.contents {
  background-color: rgba(254, 241, 173, 0.66);
  border-radius: 20px;
  padding: 20px 40px;
}

.page-header {
  border-color: #4f4154;
  text-align: center;
}

hr {
  border-top: 2px solid #4f4154;
}

.spotlight {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spotlight > div {
  padding: 1.2em;
  width: 45%;
  min-width: 350px;
}

.user-product-options {
  display: flex;
}

.user-product-options form {
  margin: 1em;
}

.user-product-options .quantity {
  display: inline-block;
  width: 70px;
  margin-right: .6em;
}

.product {
  display: flex;
  align-items: baseline;
}

.product .text-danger {
  margin-left: 1em;
}

#hide_reviews {
  display: none;
}

#reviews-container {
  display: none;
}

.hidelink {
  display: none;
}

.reviews {
  display: none;
}

.faux-link {
  color: #337ab7;
}

.faux-link:hover {
  cursor: pointer;
}

.faux-link:focus, .faux-link:hover {
  color: #23527c;
  text-decoration: underline;
}

@media screen and (max-width: 993px) {
  .spotlight > div {
    padding: 1.2em;
    width: 85%;
    min-width: 250px;
  }
}
