@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Limelight|Lato');

html {
  background: url('/images/redbg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h5 {
  font-size: 16px;
}

a {
  color: #683d79;
}

a:hover, a:focus {
  color: #820faf;
}

.navbar-inverse {
  background-color: #402b2b;
  border-color: #2b1c1d;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #fed686;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
  color: #ffbb32;
}

#username a:hover {
  color: #fed686;
  cursor: default;
}

.container.contents {
  background-color: rgba(254, 241, 173, 0.66);
  border-radius: 20px;
  padding: 20px 40px;
}

.page-header {
  border-color: #4f4154;
  text-align: center;
  font-family: 'Limelight', cursive;
}

.page-header h1 {
  font-size: 60px;
  color: #6c4061;
}

hr {
  border-top: 2px solid #4f4154;
}

.spotlight {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spotlight > div {
  padding: 1.2em;
  width: 45%;
  min-width: 350px;
}

.user-product-options {
  display: flex;
}

.user-product-options form {
  margin: 1em;
}

.user-product-options .quantity {
  display: inline-block;
  width: 70px;
  margin-right: .6em;
}

.product {
  display: flex;
  align-items: baseline;
}

.product .text-danger {
  margin-left: 1em;
}

.product-details-panel {
  border: 1px solid #4f4154;
  padding: 1.2em;
  border-radius: 18px;
  margin: .6em;
}

#hide_reviews {
  display: none;
}

#reviews-container {
  display: none;
}

.hidelink {
  display: none;
}

.reviews {
  display: none;
}

.faux-link {
  color: #683d79;
}

.faux-link:hover {
  cursor: pointer;
}

.faux-link:focus, .faux-link:hover {
  color: #820faf;
  text-decoration: underline;
}

@media screen and (max-width: 993px) {
  .spotlight > div {
    padding: 1.2em;
    width: 85%;
    min-width: 250px;
  }
}
