@import 'bootstrap-sprockets';
@import 'bootstrap';

.user-product-options {
  display: flex;
}

.user-product-options form {
  margin: 1em;
}

.user-product-options .quantity {
  display: inline-block;
  width: 70px;
  margin-right: .6em;
}

.product {
  display: flex;
  align-items: baseline;
}

.product .text-danger {
  margin-left: 1em;
}

#hide_reviews {
  display: none;
}

#reviews-container {
  display: none;
}
