<div class="product" id="product-<%= product.id %>">
  <h3><%= link_to product.name, product_path(product), id: "show_product_#{product.id}", remote: true %></h3>
  <% if product.quantity < 1 %>
    <h5 class="text-danger">Sold Out!</h5>
  <% end %>
  <%= link_to 'Hide', products_path, class: "hidelink", id: "hide_details_#{product.id}", remote: true %>
</div>
