<div class="reviews" id="reviews-<%= @product.id %>">
  <h2>Reviews</h2>
  <% if @product.reviews.any? %>
    <div id="reviews">
      <% @product.reviews.each do |review| %>
        <%= render "reviews/review", review: review %>
      <% end %>
    </div>
  <% else %>
    <h3>There are no saved reviews for this book!</h3>
    <p>Be the first to voyage where no man has gone before!</p>
  <% end %>
  <% if current_user && current_user.account.has_purchased?(@product) %>
    <%= link_to "Add a Review", new_product_review_path(@product), id: "new_link", remote: true %>
  <% end %>
</div>
